#title{
  background-color: #ff4c68;
}
.container-fluid{
  padding: 3% 15% 7%;

}
h1{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}
.navbar {
  padding:0 0 4.5rem;
}
.image{
  width: 60%;
  transform: rotate(25deg);
position: absolute;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.nav-item{
  padding: 0 18px;
}
.navbar-brand{
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;

}
.download{
  margin: 5% 3% 5% 0;
}
@media(max-width:1028px){
  #title{
    text-align: center;
  }
  .image{
    position: static;
    transform: rotate(0);
  }
}


#features{
  padding: 5% 15%;
  background-color: white;
position: relative;
z-index: 1;


}
h3{
font-size: 1.5rem;
font-family: 'Montserrat-Bold', sans-serif;
font-weight: 800;


}
.inpt{
  padding: 2%;
  text-align: center;

}
p{
  color:#8f8f8f;
}
.target{
  color: #ef8172;
  padding-bottom: 1rem;
}
.target:hover{
  color: #ff4c68;
}

#testimonials{

  text-align: center;
  color: #fff;
  background-color:#ef8172;

}
.carousel-item{
    padding: 7% 15%;
}
h2{
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.5;

}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
background-color: #ef8172;
text-align: center;
  padding-bottom: 4%;
}
.press-logo{

  margin:20px 20px 10px;
  width:15%;
}
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}
#cta{
  text-align: center;
  background-color:#ff4c68;
}
.footer-header{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;

}
.header{
  padding: 5% 20% 0%;
}
#footer{
    padding: 7% 25%;
  background-color: #fff;
text-align: center;
padding: 80px;


}
.contact{
  padding:2% 0.8%;
}
.contact:hover{
  color:grey;
}
